<h1 class="header-title">Please log in to leave a comment</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{post.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted by {{post.user.username}} on {{formatDate post.createdAt}}
          </h6>
        </div>
        <div class="card-body">
          <p class="card-text">{{post.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="post-id" value="{{post.id}}" />

{{#if loggedIn}}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="card-header">Leave Comment:</div>
        <form class="card-body comment-form">
          <textarea class="form-control" id="comment" name="comment-body"
            placeholder="Write your comment here"></textarea>
          <button type="submit" class="btn btn-primary mt-3">Submit Comment</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mb-5">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Comments</h5>
        </div>
        <div class="card-body">
          {{> commentcard post.comments}}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/comment.js"></script>